# Definindo a linguagem principal para arquivos específicos
*.js linguist-language=JavaScript
*.py linguist-language=Python

# Forçando a linguagem principal do repositório
*.md linguist-documentation=true
